/*ESTILOS GENERALES*/
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/*ESTILOS AL HEADER*/
header{
    background-color: #10002B;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner{
    display: flex;
    align-items: center;
}
.banner .btn {
    color: white;
    width: 5vw;
    text-decoration: none;
    margin-bottom: 10px;
    margin-right: 20px;
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Add rounded corners */
    font-size: 1.5vw;
    transition: background-color 0.3s; /* Smooth transition */
    text-align: center; /* Centra el texto horizontalmente */
    line-height: 1.5; /* Ajusta el espacio entre líneas */
}
.banner .btn:hover {
    background-color: #944cf9; /* Change background color on hover */
}
#logo{
    width: 7vw;
    padding: 10px;
}
h1{
    color: white;
    font-size: 2.5vw;
}

/*ESTILOS AL NAVBAR*/
.menu{
    background-color: #5A189A;
    border-top: 5px solid #a93afd;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center; /* Para centrar horizontalmente */
}
.botonera{
    list-style: none;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0;
    display: flex;
    align-items: center; /* Para centrar verticalmente */
    justify-content: space-between; /* Distribuye los elementos equitativamente */
    width: 100%; /* Para ocupar todo el ancho del nav y hacerlo responsivo*/ 
}
.botonera a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.4vw; 
    padding: 15px 16px;
}
.botonera a:hover, button:hover{
    color: yellow;
}

/* Estilos para el menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%; /* Ancho igual al botón */
    min-width: 10vw;
    z-index: 1;
    text-align: center; /* Para centrar el contenido */
}
.dropdown-content a {
    color: #320450;
    padding: 10px 0px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #a534f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropbtn {
    background-color: #5A189A;
    color: white;
    font-size: 1.5vw;
    font-weight: bold;
    cursor: pointer;
}
button {
    border: none;
    width: 15vw; /*Ancho boton cursos*/
}

/*ESTILOS AL CUERPO PRINCIPAL*/
main{
    height: auto;
    background-color: #e2bff9;
}

/*ESTLOS AL FOOTER*/
footer {
    background-color: #10002B;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Tres columnas para pantallas grandes */
    grid-template-rows: auto; /* Ajuste automático de altura */
    gap: 10px; /* Espacio entre elementos */
    padding: 10px; /* Espacio interno */
}
footer #copyright{
    text-align: left; 
    font-style: italic;
    font-size: 1.2vw;
    padding-top: 2%;
    padding-left: 3%;
}
footer .redes,
footer .ubicacion {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}
footer .iconos {
    list-style: none;
    font-size: 3vw;
    padding-left: 15%;
    padding-right: 15%;
    margin: 0;
    display: flex;
    justify-content: space-between; /* Distribuye equitativamente */
    width: 100%; /* Ocupar todo el ancho de su contenedor */
    cursor: pointer;
}
footer .iconos span:hover {
    color: #a93afd; /* Cambia el color del ícono cuando pasas el mouse por encima */
}
footer .ubicacion iframe {
    border-radius: 10px; /* Borde redondeado para iframe */
    width: 50%;
}
footer .ubicacion p {
    padding-left: 3%; /* Espacio entre iframe y texto */
    padding-right: 5%;
    text-align: justify;
    font-size: 1vw;
}


/* Para Pantallas (Celulares) con menos de 599px */

@media only screen and (max-width: 599px) {

    footer {
        grid-template-columns: 1fr; /* Cambia a una sola columna */
        grid-template-rows: auto; /* Ajuste automático de altura */
        text-align: center; /* Centra el texto para cada elemento */
    }
    footer .iconos {
        justify-content: center; /* Centra horizontalmente */
    }
    footer #copyright{
        text-align: center; 
        font-size: 2vw;
    }
    footer .iconos {
        padding-left: 25%;
        padding-right: 25%;
        padding-top: 2%;
        padding-bottom: 1%;
        font-size: 4vw;
        margin: 0;
        display: flex;
        justify-content: space-between; /* Distribuye equitativamente */
        width: 100%; /* Ocupar todo el ancho de su contenedor */
    }
    footer .ubicacion {
        display: flex;
        flex-direction: column;
    }
    footer .ubicacion p {
        font-size: 2vw;
        padding-top: 2%;
    }
} 

