/*ESTILOS GENERALES*/
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/*ESTILOS AL HEADER*/
header{
    background-color: #10002B;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .btn {
    width: 5vw; /* Adjust the width as needed */
    color: white;
    text-decoration: none;
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Add rounded corners */
    font-size: 1.5vw;
    transition: background-color 0.3s; /* Smooth transition */
    text-align: center; /* Centra el texto horizontalmente */
    line-height: 1.5; /* Ajusta el espacio entre líneas */
}

.banner .btn:hover {
    background-color: #944cf9; /* Change background color on hover */
}
#logo{
    width: 7vw;
    padding: 10px;
}
h1{
    color: white;
    font-size: 2.5vw;
}

/*ESTILOS AL NAVBAR*/
.menu{
    background-color: #5A189A;
    border-top: 5px solid #a93afd;
    height: 17vh;
    display: flex;
    align-items: center;
    justify-content: center; /* Para centrar horizontalmente */
}
.botonera{
    list-style: none;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0;
    display: grid;
    gap: 20px; /* Espaciado entre botones */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Ajusta automáticamente el número de columnas */
    padding: 20px; /* Espaciado alrededor de la cuadrícula */
    width: 100%; /* Para ocupar todo el ancho del nav y hacerlo responsivo*/
    align-items: center;
    justify-content: center; /* Para centrar horizontalmente */ 
}
.botonera li{
    list-style-type: none; /* Removes the bullet points */
    display: flex;
    justify-content: center; 
    padding: 0px 7px;
}
.botonera a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5vw;
}
.botonera a:hover, button:hover{
    color: yellow;
}


/* Estilos para el menú desplegable */
.dropdown {
    padding: 0px 13px;
    position:relative;
    display: flex;
    width: 100%;
    justify-content: center; 
    text-align: center;
    flex-direction: column;

}
.dropbtn li a{
    text-align: center;
}
.dropbtn {
    width: 100%;
    background-color: #5A189A;
    color: white;
    font-size: 1.5vw;
    font-weight: bold;
    cursor: pointer;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%; /* This ensures the dropdown content matches the width of the dropbtn */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    top: 100%;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column; /* Ensures items are laid out as rows in one column */
}
.dropdown-content a {
    width: 100%;
    color: #320450;
    padding: 10px 0px;
    display: block;
    text-align: center; /* Centers the text within each link */
}
.dropdown-content a:hover {
    background-color: #a534f1;
}

/*ESTILOS AL CUERPO PRINCIPAL*/
main{
    height: auto;
    background-color: #e2bff9;
}

/*ESTLOS AL FOOTER*/
footer {
    background-color: #10002B;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Tres columnas para pantallas grandes */
    grid-template-rows: auto; /* Ajuste automático de altura */
    gap: 10px; /* Espacio entre elementos */
    padding: 10px; /* Espacio interno */
}
footer #copyright{
    text-align: left; 
    font-style: italic;
    font-size: 1.2vw;
    padding-top: 2%;
    padding-left: 3%;
}
footer .redes,
footer .ubicacion {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}
footer .iconos {
    list-style: none;
    font-size: 3vw;
    padding-left: 15%;
    padding-right: 15%;
    margin: 0;
    display: flex;
    justify-content: space-between; /* Distribuye equitativamente */
    width: 100%; /* Ocupar todo el ancho de su contenedor */
    cursor: pointer;
}
footer .iconos span:hover {
    color: #a93afd; /* Cambia el color del ícono cuando pasas el mouse por encima */
}
footer .ubicacion iframe {
    border-radius: 10px; /* Borde redondeado para iframe */
    width: 50%;
}
footer .ubicacion p {
    padding-left: 3%; /* Espacio entre iframe y texto */
    padding-right: 5%;
    text-align: justify;
    font-size: 1vw;
}


/* Para Pantallas (Celulares) con menos de 599px */


@media only screen and (min-width: 600px) and (max-width: 900px) {
    /* Estilos para tablets aquí */
    .menu {
        height: 20vh;

    }
    .botonera {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Columnas más anchas para tablets */
    }
    /* Ajustes adicionales para tablets si son necesarios */
    body {
        font-size: 16px;
    }
    .banner img {
        width: 80%;
        height: auto;
    }
}
@media only screen and (max-width: 599px) {
    .menu {
        height: 23vh;

    }
    .menu, .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .botonera {
        display: grid; /* Establece la botonera como un contenedor de cuadrícula */
        grid-template-columns: 1fr 1fr; /* Una sola columna */
        gap: 15px; /* Espaciado entre elementos de la cuadrícula */
        /* Ajusta el padding y otros estilos según sea necesario */
    }
    .botonera a, .banner .btn {
        font-size: 2vw; /* Slightly larger font size for tablets */
    }
    .banner .btn {
        width: 40px;
    }
    footer {
        grid-template-columns: 1fr; /* Cambia a una sola columna */
        grid-template-rows: auto; /* Ajuste automático de altura */
        text-align: center; /* Centra el texto para cada elemento */
    }
    footer .iconos {
        justify-content: center; /* Centra horizontalmente */
    }
    footer #copyright{
        text-align: center; 
        font-size: 2vw;
    }
    footer .iconos {
        padding-left: 25%;
        padding-right: 25%;
        padding-top: 2%;
        padding-bottom: 1%;
        font-size: 4vw;
        margin: 0;
        display: flex;
        justify-content: space-between; /* Distribuye equitativamente */
        width: 100%; /* Ocupar todo el ancho de su contenedor */
    }
    footer .ubicacion {
        display: flex;
        flex-direction: column;
    }
    footer .ubicacion p {
        font-size: 2vw;
        padding-top: 2%;
    }
}