/****Body*****/
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #e2bff9;
    padding: 25px;
    margin-top: auto;
    margin-bottom: auto;
}
.container form{
    width: 150vh;
    padding: 40px;
    background: #fff;
    border-radius: 10px;
}
form .fila{
    display: flex;
    gap: 5%; /*espacio entre facturacion y pago*/
    flex-wrap: wrap;
    padding-right: 35px;
}
.fila .columna{
    flex: 1 1 250px;
}
.columna .titulo{
    font-size: 20px;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.columna .input-box{
    margin: 15px 0;
}
.input-box span {
    display: block;
    margin-bottom: 10px;
}
.input-box input{
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}
.columna .flex{
    display: flex;
    gap: 10%;
}
.flex .input-box{
    margin-top: 5px; /*espacio entre provincia y cd postal*/
}
.input-box img {
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
}
form .boton{
    width: 100%;
    padding: 12px;
    background: #8175d3;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 17px;
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
    transition: .5s;
}
form .boton:hover{
    background: #602994;
}


/* Para Pantallas (Celulares) con menos de 599px */

@media only screen and (max-width: 599px) {

    footer {
        grid-template-columns: 1fr; /* Cambia a una sola columna */
        grid-template-rows: auto; /* Ajuste automático de altura */
        text-align: center; /* Centra el texto para cada elemento */
    }
    footer .iconos {
        justify-content: center; /* Centra horizontalmente */
    }
    footer #copyright{
        text-align: center; 
        font-size: 2vw;
    }
    footer .iconos {
        padding-left: 25%;
        padding-right: 25%;
        padding-top: 2%;
        padding-bottom: 1%;
        font-size: 4vw;
        margin: 0;
        display: flex;
        justify-content: space-between; /* Distribuye equitativamente */
        width: 100%; /* Ocupar todo el ancho de su contenedor */
    }
    footer .ubicacion {
        display: flex;
        flex-direction: column;
    }
    footer .ubicacion p {
        font-size: 2vw;
        padding-top: 2%;
    }
} 
