/* Contenedor del FLYER */
.flyer {
    width: 80%; 
    height: 100%; 
    margin-right: auto;
    margin-left: auto;
    position: relative;
    overflow: hidden;
    display: flex;  /* Utilizamos flexbox */
    justify-content: center;  /* Centrado horizontal */
    align-items: center;  /* Centrado vertical */
}

/* Estilos para las imágenes */
.flyer img {
    width: auto;  /* Permitimos que el ancho varíe */
    height: 100%;  /* Ocupamos toda la altura */
    object-fit: contain;  /* Nos aseguramos de que la imagen no se recorte */
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* Imagen activa */
.flyer img.active {
    opacity: 1;
}
