/* Valoraciones de estrellas */
.estrella-rellena {
    color: gold;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

/* Diseño Grid en el main */
.idiomas {
    display: grid;
    gap: 15px;
    justify-items: center;
    text-align: justify;
    padding: 3%;
    padding-top: 1%;
}

/* Animación al h1 del idioma en cuestión */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* Inglés */
@keyframes colorCycleEnglish {
    0% {
        color: red;
    }
    50% {
        color: white;
    }
    100% {
        color: blue;
    }
}

/* Español */
@keyframes colorCycleSpanish {
    0% {
        color: red;
    }
    50% {
        color: yellow;
    }
    100% {
        color: red;
    }
}

/* Alemán */
@keyframes colorCycleGerman {
    0% {
        color: black;
    }
    50% {
        color: red;
    }
    100% {
        color: yellow;
    }
}

/* Portugués */
@keyframes colorCyclePortuguese {
    0% {
        color: green;
    }
    50% {
        color: yellow;
    }
    100% {
        color: blue;
    }
}

/* Francés */
@keyframes colorCycleFrench {
    0% {
        color: blue;
    }
    50% {
        color: white;
    }
    100% {
        color: red;
    }
}

/* Configuración de los h1 de las páginas de idiomas */
#eng, #ger, #por, #fre, #spa {
    font-family: "Poetsen One", sans-serif;
    font-size: 4vw;
}

#eng {
    animation: pulse 1s infinite, colorCycleEnglish 2s infinite;
}

#ger {
    animation: pulse 1s infinite, colorCycleGerman 2s infinite;
}

#por {
    animation: pulse 1s infinite, colorCyclePortuguese 2s infinite;
}

#fre {
    animation: pulse 1s infinite, colorCycleFrench 2s infinite;
}

#spa {
    animation: pulse 1s infinite, colorCycleSpanish 2s infinite;
}

.radio-option {
    display: block;
    margin-bottom: 10px;
}

fieldset {
    border: 3px solid #340254;
    padding: 10px;
    width: 90%;
}

legend {
    font-weight: bold;
}

iframe {
    border-radius: 20px;
    border: 10px solid #340254;
}

.ingles a, .aleman a, .español a, .frances a, .portugues a {
    width: 30%;
    padding: 5px;
    margin-top: 10px;
    color: white;
    font-size: 2vw;
    font-family: "Poetsen One", sans-serif;
    text-align: center;
    text-decoration: none;
    background-color: blueviolet;
    border-radius: 5px;
    border: 2px solid #340254;
    cursor: pointer;
}

.ingles a:hover, .aleman a:hover, .español a:hover, .frances a:hover, .portugues a:hover {
    background-color: #340254;
}

/* 1- Para Pantallas (Desktops, Laptops y Netbooks) de más de 768px */
@media only screen and (min-width: 768px) {
    .idiomas {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, auto);
    }

    .idiomas h1 {
        grid-column: span 3;
    }

    .objetivo {
        grid-column: 1;
        grid-row: 2;
    }

    .nivel {
        grid-column: 1;
        grid-row: 3;
    }

    .turno {
        grid-column: 1;
        grid-row: 4;
    }

    .ingles, .aleman, .español, .portugues, .frances {
        grid-column: 2 / span 2;
        grid-row: 2 / span 3;
        width: 100%;
        margin-left: 40px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ingles {
        background-image: url('/static/img/ingles.avif');
    }

    .aleman {
        background-image: url('/static/img/aleman.jpg');
    }

    .español {
        background-image: url('/static/img/español.jpg');
    }

    .portugues {
        background-image: url('/static/img/brazil.jpg');
    }

    .frances {
        background-image: url('/static/img/frances.jpg');
    }

    .comentarios {
        grid-column: 1 / span 3;
        grid-row: 5;
    }
}

/* Para Pantallas con un ancho máximo de 480px */
@media only screen and (max-width: 480px) {
    #eng, #ger, #por, #fre, #spa {
        font-size: 6vw;
    }

    .ingles a, .aleman a, .español a, .frances a, .portugues a {
        width: 100%;
        font-size: 4vw;
    }

    .idiomas {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .ingles, .aleman, .español, .portugues, .frances {
        grid-column: 1 / -1;
        grid-row: auto;
        margin-left: 0;
    }

    .comentarios {
        grid-column: 1 / -1;
    }

    iframe{
        max-width: 95%;
    }
}

/* Para Pantallas entre 481px y 768px */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    #eng, #ger, #por, #fre, #spa {
        font-size: 5vw;
    }

    .ingles a, .aleman a, .español a, .frances a, .portugues a {
        width: 50%;
        font-size: 3vw;
    }

    .idiomas {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .ingles, .aleman, .español, .portugues, .frances {
        grid-column: span 1;
        margin-left: 0;
    }

    .comentarios {
        grid-column: 1 / -1;
    }
    
}
