# Exclude system files
/AppData/
/Contacts/
/Downloads/
/Favorites/
/Games/
/IntelGraphicsProfiles/
/Links/
/Music/
/NTUSER.DAT*
/OneDrive/
/Saved Games/
/Searches/
/Videos/
/clase1.sql
/pandum/
/postgresql_15.exe
/Configuración local/
/Cookies/
/Datos de programa/
/Documents/Mi música/
/Documents/Mis imágenes/
/Documents/Mis vídeos/
/Entorno de red/
/Impresoras/
/Menú Inicio/
/Mis documentos/
/Plantillas/
/Reciente/
/SendTo/

# Ignore other hidden and system files
.cache/
.console-ninja/
.gitconfig
.idlerc/
.lesshst
.node_repl_history
.oracle_jre_usage/
.ssh/
.vscode/
